.row
	.col-md-12
	%ul.nav.nav-pills.pull-right
		%li 
			%a{:href => root_path } Home
		%li 
			%a{:href => landing_iniciar_path } Iniciar sesion
		%li
			%a{:href => landing_registrarse_path } Registrarse