.row
	.col-md-12
	%ul.nav.nav-pills.pull-right
		%li 
			%a{:href => root_path } Home
		%li.dropdown
			%a{:href => "#",  :class=>"dropdown-toggle", :data =>{ :toggle=>"dropdown"}} 
				¡Andres Yepes!
				%span.caret
				%ul.dropdown-menu
					%li 
						%a{:href => root_path} Home
						%a{:href => root_path} logout
						



