.container
	=render "navbar_login"
	.row
		.col-md-6
			.media
				%a{:href => "#", :class=>"pull-left"} 
					.mi_caja_foto
						=image_tag "http://lagranjadecristian.cl/uploads/products/be9b7aab02ea7defae42ea013f9e220d25278385.jpeg", {:class=>"media-object", width:"80"}
				.media-body
					%h4.media-heading
						Caja de checheres de navidad
						%small caja # 23
					%p  que no se me olvide pedirlos para diciembre
					%h4
						Estado:
						%small
							En bodega
						%button{:class=>"btn btn-primary btn-sm", type:"button"} Solicitar caja a direccion
			%hr/
	.row#container
		.col-xs-6.col-md-3.item
			%a{:href => "#", :class=>"thumbnail"}
				=image_tag "http://lagranjadecristian.cl/uploads/products/be9b7aab02ea7defae42ea013f9e220d25278385.jpeg"
		.col-xs-6.col-md-3.item
			%a{:href => "#", :class=>"thumbnail"}
				=image_tag "http://1.bp.blogspot.com/_8-EKATZfgQc/TLW7zulPMAI/AAAAAAAAAUQ/ftYWDjN4Lus/s1600/SAM_1576.JPG"
		.col-xs-6.col-md-3.item
			%a{:href => "#", :class=>"thumbnail"}
				=image_tag "http://comohacerte.com/wp-content/uploads/2009/10/papa-noel-patrones.jpg"
		.col-xs-6.col-md-3.item
			%a{:href => "#", :class=>"thumbnail"}
				=image_tag "http://images04.olx.com.pe/ui/3/11/49/59190249_1.jpg"
		.col-xs-6.col-md-3.item
			%a{:href => "#", :class=>"thumbnail"}
				=image_tag "http://images01.olx.com.co/ui/1/75/38/f_40726738_4.jpeg"
		.col-xs-6.col-md-3.item
			%a{:href => "#", :class=>"thumbnail"}
				=image_tag "http://images04.olx.com.co/ui/15/22/73/1381769764_552621973_3-munecos-de-Navidad-y-decoracion-Bogota.jpg"
		.col-xs-6.col-md-3.item
			%a{:href => "#", :class=>"thumbnail"}
				=image_tag "http://mlv-s2-p.mlstatic.com/munecos-de-navidad-santa-claus-y-munecos-de-nieve-8098-MLV5320509460_112013-F.jpg"
		.col-xs-6.col-md-3.item
			%a{:href => "#", :class=>"thumbnail"}
				=image_tag "http://www.anuncol.com/fotos/anuncios/201210/500px-navidad-munecos-mucho-mas-20121013_123232_11_1.jpg"

