#navbar
	.container
		#logo
			=image_tag "logo.png"
		#logo-min
			=image_tag "logo-min.png"
		%nav
			%ul 
				%li 
					%a{:href => "#"} Home
				%li 
					%a{:href => "#"} Contactanos
				%li 
					%a{:href => "#"} Planes

#hero
	.hero-sentence
		%h1.centrado
			¿TIENES MUCHAS COSAS Y POCO ESPACIO?

#explanation
	%header
		%h1.centrado
			¿CÓMO FUNCIONA?
	.container
		.row
			.col-md-4
				.centrado
					=image_tag "paso1.png"
				%h2 lorem ipsum yo no se que
			.col-md-4
				.centrado
					=image_tag "paso2.png"
				%h2 lorem ipsum yo no se que
			.col-md-4
				.centrado
					=image_tag "paso3.png"
				%h2 lorem ipsum yo no se que