.container
	=render "navbar_login"
	.row
		.col-md-4.col-md-offset-4
			.titulo
				%h3 Estado de la solicitud
			%h4
				Estado del pedido:
				%small
					En despacho
			.progress
				.progress-bar.progress-bar-warning{role:"progressbar",style:"width: 60%;" , aria: {valuenow:"60", valuemin:"0", valuemax:"100"}}
				%span.sr-only En despacho
			%h4 
				Numero de la caja asignada:
				%small #23
			%h4 
				Día y hora de entrega:
				%small Enero 24 del 2014 a las 10:00 am
			%a{:class=>"btn btn-primary", :href => landing_iniciado_path } Volver