.container
	=render "navbar_login"
	.row
		.col-md-4.col-md-offset-4
			.titulo
				%h3 Solicitar caja a la direccion indicada
			%br/ 
			.input-group
				%span.input-group-btn
					%button.btn.btn-primary#restar_caja -
				%input{:type => "text", :class=>"form-control" , :placeholder=>"Numero de cajas a Solicitar", id:"input_numero_cajas"}/ 
				%span.input-group-btn
					%button.btn.btn-primary#sumar_caja +
			%br/ 
			%p 
				valor mensual:
				%span.valor_solicitud
					$20,000 pesos
			.titulo
				%h3 Verificar datos
			%br/ 
			%input{:type => "text", :placeholder=>"Direccion", :class=>"form-control", value:"Av 12 #123 -45 apto 607"}/ 
			%br/ 
			%input{:type => "text", :placeholder=>"Telefono", :class=>"form-control", value:"313 123 45678"}/ 
			%br/ 
			%a{:class=>"btn btn-lg btn-primary btn-block", :href => landing_solicitud_status_path } Solicitar cajas a la dirección