<div class="contenedor centrado">
	<h1>Closet Box</h1>
	<p>El espacio que necesitas para guardar tus cosas
	con las ventajas de una bodega <br>y la simplicidad de guardarlas en <strong>tu closet.</strong> </p>
	<br><br>
	<div class="panel">
		<div class="box-content centrado-izquierda">
			<h4>¿Olvidaste tu contraseña?</h4>
			<%=render "devise/passwords/new"%>
		</div>	
	</div>
</div>


