.panel.panel-primary.pricing-panel
  .panel-heading
    %h3.panel-title
      Plan Trimestral
  .panel-body
    .the-price
      %h1
        $60,000
        %span.subscript / 3 Mes
      %small $20,000 Mensuales
    %table.table
      %tr
        %td
          1 caja "Closet"
      %tr
        %td
          1 Solicitud de Transporte a la direccion
  .panel-footer
    %a.btn.btn-primary{href: "#", role: "button", data:{toggle: "modal", target:"#myModal"}} Solicitar plan trimestral


.panel.panel-primary.pricing-panel
  .panel-heading
    %h3.panel-title
      Plan Semestral
  .panel-body
    .the-price
      %h1
        $102,000
        %span.subscript / 6 Meses
      %small $17,000 Mensuales
    %table.table
      %tr
        %td
          1 caja "Closet"
      %tr 
        %td
          1 Solicitud de Transporte a la direccion
  .panel-footer
    %a.btn.btn-primary{href: "#", role: "button"} Solicitar plan Semestral

.panel.panel-primary.pricing-panel
  .panel-heading
    %h3.panel-title
      Plan Anual
  .panel-body
    .the-price
      %h1
        $150,000
        %span.subscript / 12 Meses
      %small $12,500 Mensuales
    %table.table
      %tr
        %td
          1 caja "Closet"
      %tr
        %td
          1 Solicitud de Transporte a la direccion
  .panel-footer
    %a.btn.btn-primary{href: "#", role: "button"} Solicitar plan Anual