
<div class="izquierda centrado">
	<br><br><br>
	<h1 data-scrollReveal>Closet Box</h1>
	<p data-scrollReveal>Frase Mega pero super mega importanteee lorem ipsum y algo mas y VENDEDORA</p>
	<br><br><br>
	<div class="hola" data-scrollReveal> grrr</div>
	<div class="hola" data-scrollReveal> grrr</div>
	<div class="hola" data-scrollReveal> grrr</div>
	<div class="hola" data-scrollReveal> grrr</div>
	<div class="hola" data-scrollReveal> grrr</div>
	<div class="hola" data-scrollReveal> grrr</div>
</div>
<div class="derecha">
	<div class="">
		<div class="box-content centrado-izquierda">
			<h4>Conectarme</h4>
			<%= render "layouts/devise_alerts"%>
			<%= render "devise/sessions/new"%>
		</div>	
	</div>
</div>
</div>
