body{
	h1,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	}
	h2,a{
		font-family: 'Montserrat';
		font-weight: 400;
	}
	hr{
		border-top: 1px solid #aaa;
	}
	.contenedor{
		padding: 1%;
	}
	.header{
		padding: 1%;
	}
	.centrado{
		text-align: center;
	}
	.centrado-izquierda{
		text-align: left;
	}
}

footer{
	margin-top: 50px;
	padding: 4px 0px;
	text-align: center;
}