body{
	background-color: #f2f2f2;
	hr{
		border-top: 1px solid #aaa;
	}
	.contenedor{
		padding: 1%;
	}
	.header{
		padding: 1%;
	}
	.centrado{
		text-align: center;
	}
	.centrado-izquierda{
		text-align: left;
	}
}

footer{
	margin-top: 50px;
	padding: 4px 0px;
	text-align: center;
}