.header-box{
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	-webkit-box-shadow: 0px 5px 5px #aaa;
	box-shadow: 0px 5px 5px #aaa;

	.header-img{
		display: inline-block;

		img{
			width: 200px;	
		}
		
	}

	.header-content{
		display: inline-block;
		margin: 2%;
		vertical-align: bottom;
	}
}

.items{
	
}

.box-item-panel{
	width: 280px !important;
	vertical-align: top;
	.box-item-image {
		overflow: hidden;
		img {
			width: 100%;
			}
	}
	.box-item-content {
		text-align: center;
	}
}

#new-item-panel{
	display: none;
}

@media only screen and (min-width: 321px) {
	.box-item-panel{
		width: 43% !important;
	}
}
@media only screen and (min-width: 730px) {
	.box-item-panel{
		width: 28% !important;
	}
}
@media only screen and (min-width: 1300px) {
	.box-item-panel{
		width: 23% !important;
	}
}
