.con{
	padding: 10px;
	background-color: #f2f2f2;
}
.boxes{
}
.panel{
	background-color: #fff;
	margin: 4px 10px;
	display: inline-block;
	border: 1px solid #ccc;
	-webkit-border-radius: 1px ;
	border-radius: 1px;
	width: 280px;
	.box-content{
		padding: 10px 10px 10px 10px;
	}
}
.box-panel{
	background-color: #fff;
	margin: 4px 10px;
	display: inline-block;
	border: 1px solid #ccc;
	-webkit-border-radius: 1px ;
	border-radius: 1px;
	/*
	-webkit-box-shadow: 0 0 4px #aaa;
	box-shadow: 0 0 4px #aaa;
	*/
	width: 280px;

	.box-image{
		height: 130px;
		overflow: hidden;
		img {
			width: 280px;
		}
	}
	.box-content{
		padding: 0px 10px 10px 10px;
	}

	a{
		text-decoration: none;
		color: #000;
	}
	.add-content{
		padding: 10px 0px 10px 0px;
		text-align: center;
		.add-icon{
			color: #aaa;
			font-size: 4em;
		}
	}

}
.primary-action{
	background-color: #3498db ;
	border: 1px solid #2980b9;
	a{
		color: #fff;	
	}
	.add-icon{
		color: #fff !important;
		font-size: 4em;
	}
}
.primary-action:hover{
	background-color: #2980b9 !important;
}
.box-panel:hover { 
    /*
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
    */
    background-color: #FAFAFA;  
}



@media only screen and (min-width: 400px) {
	.box-panel,.panel{
		width: 43% !important;
	}
}
@media only screen and (min-width: 730px) {
	.box-panel,.panel{
		width: 28% !important;
	}
}
@media only screen and (min-width: 1300px) {
	.box-panel,.panel{
		width: 23% !important;
	}
}